{# gallery for detail view #}

{% block news_detail_entry_gallery %}

    {% if entry.images is iterable and entry.images|length > 0 %}
        <div class="detail-entry-gallery light-box entry-gallery">
            {% for image in entry.images %}
                <a href="{{ image.fullPath }}" class="item{{ loop.index > 1 ? ' hidden'  : '' }}" data-src="{{ image.thumbnail(news_thumbnail('content_image')) }}">
                    {{ image.thumbnail(news_thumbnail('gallery_image')).html({imgAttributes: {class: 'img-responsive'}})|raw }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

{% endblock news_detail_entry_gallery %}
