{# gallery for detail view #}

{% block news_detail_entry_gallery %}

    {% if entry.getImages() is iterable and entry.getImages()|length > 0 %}

        <div class="detail-entry-gallery light-box entry-gallery">
            {% for image in entry.getImages() %}
                <a href="{{ image.getFullPath() }}" class="item{{ loop.index > 1 ? ' hidden'  : '' }}" data-src="{{ image.getThumbnail('contentImage') }}">
                    {{ image.getThumbnail(news_thumbnail('gallery_image')).getHtml({'imgAttributes': {'class': 'img-responsive'}})|raw }}
                </a>
            {% endfor %}
        </div>

    {% endif %}

{% endblock news_detail_entry_gallery %}
