{# single headline for detail view #}

{% block news_detail_entry_headline %}

    <h1 class="detail-entry-headline entry-headline">{{ entry.getName() }}</h1>

{% endblock news_detail_entry_headline %}