{# single image for detail view #}

{% block news_detail_entry_image %}

    {% if entry.image is not null %}
        <div class="detail-entry-image entry-image">
            <a href="{{ entry.fullPath }}" class="item" data-src="{{ entry.image.thumbnail(news_thumbnail('content_image')) }}">
                {{ entry.image.thumbnail(news_thumbnail('gallery_image')).html({imgAttributes: {class: 'img-responsive'}})|raw }}
            </a>
        </div>
    {% endif %}

{% endblock news_detail_entry_image %}
