{# single image for detail view #}

{% block news_detail_entry_image %}

    {% if entry.getImage() is not null %}

        <div class="detail-entry-image entry-image">
            <a href="{{ entry.getFullPath() }}" class="item" data-src="{{ entry.getImage().getThumbnail('contentImage') }}">
                {{ entry.getImage().getThumbnail(news_thumbnail('gallery_image')).getHtml({'imgAttributes': {'class': 'img-responsive'}})|raw }}
            </a>
        </div>

    {% endif %}

{% endblock news_detail_entry_image %}
