<?xml version="1.0"?>
<zend-config>
    <plugin>
        <pluginName>News</pluginName>
        <pluginDescription><![CDATA[News Extension for Pimcore]]></pluginDescription>
        <pluginVersion>1.5.2</pluginVersion>
        <pluginRevision>1</pluginRevision>
        <pluginBuildTimestamp>0</pluginBuildTimestamp>
        <pluginClassName>\News\Plugin</pluginClassName>
        <pluginIncludePaths>
            <path>/News/lib</path>
            <path>/News/models</path>
            <path>/News/lib/News/Model</path>
        </pluginIncludePaths>
        <pluginNamespaces>
            <namespace>News</namespace>
        </pluginNamespaces>
        <pluginJsPaths-extjs6>
            <path>/plugins/News/static/js/startup.js</path>
            <path>/plugins/News/static/js/object/data/newsTypeSelect.js</path>
            <path>/plugins/News/static/js/object/tags/newsTypeSelect.js</path>
        </pluginJsPaths-extjs6>
    </plugin>
</zend-config>
