{% extends '@News/layout.html.twig' %}

{% block news_detail_wrapper %}

    <div class="news-detail">

        {% include '@News/Detail/Block/Entry/headline.html.twig' %}

        {% if entry.getImages()|length == 1 %}
            {% include '@News/Detail/Block/Entry/image.html.twig' %}
        {% else %}
            {% include '@News/Detail/Block/Entry/gallery.html.twig' %}
        {% endif %}

        {% include '@News/Detail/Block/Entry/content.html.twig' %}

        {% include '@News/Detail/Block/Entry/video.html.twig' %}

        {% include '@News/Detail/Block/Entry/downloads.html.twig' %}

        {% include '@News/Detail/Block/Entry/links.html.twig' %}

        {% set back_link = news_entry_backlink(entry) %}

        {% if back_link is not empty %}
            <a href="{{ back_link }}" class="back">{{ 'Back to List'|trans }}</a>
        {% endif %}

    </div>

    {% include '@News/Detail/RelatedEntries/relatedEntries.html.twig' %}

{% endblock news_detail_wrapper %}