<div class="{{ main_classes }}">

    {% if paginator.getTotalItemCount() > 0 %}

        <div class="news-list-content">
            {% include '@News/Block/entries.html.twig' %}
        </div>

        {% if show_pagination %}

            <div class="preloader"></div>
            <div class="paginator">
                {# paginationControl(paginator, 'Sliding', 'news/Partial/paging.php', []) #}
            </div>

        {% endif %}

    {% else %}

        {{ 'No News found'|trans }}

    {% endif %}

</div>